@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-sidebar-bg: hsl(223 36% 14%/ 1);
  --color-sidebar-text: hsl(223deg 23% 46%);
  --color-main-bg: hsl(223deg 30% 9%);
  --color-main-text: hsl(224deg 23% 55%);
  --color-caret: hsl(0 97% 63%);
  --color-placeholder: hsl(223 3% 54%);
  --font-outfit: "Outfit", sans-serif;
  --breakpoint-1xl: 1440px;
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    @apply font-outfit text-main-text bg-main-bg
      font-light;
  }
  a.active {
    @apply text-white;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-sidebar-bg);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-sidebar-text);
    border-radius: 10px;
  }
}

@layer components {
  .sidebar {
    background-color: var(--color-sidebar-bg);
    color: var(--color-sidebar-text);
  }

  .bookmark-icon {
    @apply absolute z-10 top-2 right-2 md:top-4 md:right-4 w-8 h-8 rounded-full bg-[#373e4db2] hover:bg-white transition-all ease-linear duration-200 grid place-items-center  cursor-pointer;
  }

  .home-media--card {
    @apply relative min-w-[260px] sm:min-w-[480px] lg:min-w-[600px] xl:min-w-[440px] 1xl:!min-w-[500px] h-[120px] md:h-[180px] xl:h-[224px] rounded-md after:content-[''] after:absolute after:w-full after:h-full after:top-0 after:left-0 after:bg-[#070a0f6d];
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
